<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

  <context:property-placeholder location="classpath:config/value.properties" />
  <context:component-scan base-package="jay.user.admin" />

    <bean id="performanceTraceAdvice" class="aop.xml.PerformanceTraceAdvice" />

  <aop:config>
    <aop:aspect id="traceAspect" ref="performanceTraceAdvice">
      <aop:around pointcut="execution(public * jay.user.admin.service..*(..))" method="trace"/>
    </aop:aspect>
  </aop:config>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
      <property name="driverClass" value="com.mysql.jdbc.Driver" />
      <property name="url" value="${db.url}" />
      <property name="username" value="${db.username}" />
      <property name="password" value="${db.password}" />
    </bean>

    <bean id = "helloWithProperty" class="di.xml.Hello">
      <property name="name" value="${myname}" />
      <property name="printer" ref="stringPrinter" />
      <property name="names">
        <list>
          <value>${listvalue1}</value>
          <value>${listvalue2}</value>
          <value>${listvalue3}</value>
        </list>
      </property>
      <property name="nameAndAge">
        <map>
          <entry key="Kim" value="30" />
          <entry key="Lee" value="35" />
          <entry key="Han" value="40" />
        </map>
      </property>
    </bean>

  <bean id = "stringPrinter" class = "di.xml.StringPrinter" />
  <bean id = "consolePrinter" class = "di.xml.ConsolePrinter" />

  <bean id = "helloWithConstructorName" class="di.xml.Hello">
    <constructor-arg name="name" value="${myname}" />
    <constructor-arg name="printer" ref="${myprinter}" />
    <constructor-arg name="names">
      <list>
        <value>${listvalue1}</value>
        <value>${listvalue2}</value>
        <value>${listvalue3}</value>
      </list>
    </constructor-arg>
    <constructor-arg name="nameAndAge">
      <map>
        <entry key="Kim" value="30" />
        <entry key="Lee" value="35" />
        <entry key="Han" value="40" />
      </map>
    </constructor-arg>
  </bean>

  <bean id = "helloWithConstructorIndex" class="di.xml.Hello">
    <constructor-arg index="0" value="Spring" />
    <constructor-arg index="1" ref="stringPrinter" />
    <constructor-arg index="2">
      <list>
        <value>Spring</value>
        <value>IoC</value>
        <value>DI</value>
      </list>
    </constructor-arg>
    <constructor-arg index="3">
      <map>
        <entry key="Kim" value="30" />
        <entry key="Lee" value="35" />
        <entry key="Han" value="40" />
      </map>
    </constructor-arg>
  </bean>

</beans>